<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>JIT SpaceTree with Objects</title>
		<%= csrf_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <!--  Note :defaults isn't used in Rails 3.1, and jQuery is already included in assets/application.js -->
    <%= javascript_include_tag "application" %>
      <script type="text/javascript">
        var jQuery=$;
      </script>
	</head>

	<body>
    <%= yield %>
	</body>
</html>
